
data/202308-divvy-tripdata.zip
data/202308-divvy-tripdata/202308-divvy-tripdata.csv
data/202308-divvy-tripdata/__MACOSX/._202308-divvy-tripdata.csv
data/202309-divvy-tripdata.zip
data/202309-divvy-tripdata/202309-divvy-tripdata.csv
data/202309-divvy-tripdata/__MACOSX/._202309-divvy-tripdata.csv
data/202310-divvy-tripdata.zip
data/202310-divvy-tripdata/202310-divvy-tripdata.csv
data/202310-divvy-tripdata/__MACOSX/._202310-divvy-tripdata.csv
data/202311-divvy-tripdata.zip
data/202311-divvy-tripdata/202311-divvy-tripdata.csv
data/202311-divvy-tripdata/__MACOSX/._202311-divvy-tripdata.csv
data/202312-divvy-tripdata.zip
data/202312-divvy-tripdata/202312-divvy-tripdata.csv
data/202312-divvy-tripdata/__MACOSX/._202312-divvy-tripdata.csv
data/202401-divvy-tripdata.zip
data/202401-divvy-tripdata/202401-divvy-tripdata.csv
data/202401-divvy-tripdata/__MACOSX/._202401-divvy-tripdata.csv
data/202402-divvy-tripdata.zip
data/202402-divvy-tripdata/202402-divvy-tripdata.csv
data/202402-divvy-tripdata/__MACOSX/._202402-divvy-tripdata.csv
data/202403-divvy-tripdata.zip
data/202403-divvy-tripdata/202403-divvy-tripdata.csv
data/202403-divvy-tripdata/__MACOSX/._202403-divvy-tripdata.csv
data/202404-divvy-tripdata.zip
data/202404-divvy-tripdata/202404-divvy-tripdata.csv
data/202404-divvy-tripdata/__MACOSX/._202404-divvy-tripdata.csv
data/202405-divvy-tripdata.zip
data/202405-divvy-tripdata/202405-divvy-tripdata.csv
data/202405-divvy-tripdata/__MACOSX/._202405-divvy-tripdata.csv
data/202406-divvy-tripdata.zip
data/202406-divvy-tripdata/202406-divvy-tripdata.csv
data/202406-divvy-tripdata/__MACOSX/._202406-divvy-tripdata.csv
data/202407-divvy-tripdata.zip
data/202407-divvy-tripdata/202407-divvy-tripdata.csv
data/202407-divvy-tripdata/__MACOSX/._202407-divvy-tripdata.csv
